<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.mayank.bean.profile" id="pro">
	<property name="designation" value="HOD"/>
	<property name="department" value="CSE"/>
	<property name="salary" value="500"/>
	</bean>

	<bean class="com.mayank.bean.employee" id="employee">
	<property name="eid" value="1"/>
	<property name="ename" value="Raju"/>
	<property name="profile" ref="pro"/>
	</bean>
</beans>